.git
.github
.gitignore
.editorconfig
.env
.env.*
!.env.example
auth.json

node_modules
vendor

public/build
public/hot

storage/logs
storage/framework/cache
storage/framework/views
storage/framework/sessions

bootstrap/cache

tests
phpunit.xml
pint.json
README.md
*.md

docker
docker-compose*.yml
Dockerfile

.DS_Store
Thumbs.db
